# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project
.kotlin/

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
runs/*

# license
/src/main/resources/assets/excessive_utilities/textures/item/kikoku.png